{
  "CurrentHeroSelectionFunction": {
    "DB_HOST": "",
    "DB_ACCESS_KEY": "",
    "CONFIG_IDENTIFIER": ""
  },
  "PickNewSelectionFunction": {
    "DB_HOST": "",
    "DB_ACCESS_KEY": "",
    "CONFIG_IDENTIFIER": ""
  },
  "NotifySlackChannelFunction": {
    "DB_HOST": "",
    "DB_ACCESS_KEY": "",
    "CONFIG_IDENTIFIER": "",
    "SLACK_WEBHOOK_URL": ""
  },
  "PickAndNotifySlackChannelFunction": {
    "DB_HOST": "",
    "DB_ACCESS_KEY": "",
    "CONFIG_IDENTIFIER": "",
    "SLACK_WEBHOOK_URL": ""
  }
}
